form
{
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center

}

.forgot_password
{
    width:50%;
    height:35vh;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top:-11rem;
    align-content:center
}

button
{
    padding:0.5rem;
    background-color:#04AA6D;
    border-radius:0.5rem;
    color:white;
    font-size:0.9rem;
    border:1px solid white;
    font-weight:700
}

input
{
    font-size:medium;
    padding:0.2rem;
    margin-bottom:1rem
}

.anchor
{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    height:20vh;
    width:40%;
    margin:auto;
    flex-direction:column
}
