body{
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.success, .alert {
    padding: 20px;
    background-color:green;
    color: white;
    width:max-content;
    margin-top: 7%;
    right:40%;
    position:absolute;
}

.message
{
    background-color:white;
    width:70%;
    margin:auto;
    padding:1rem;
    border-radius: 1.1rem;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.alert{
    background-color:#f44336;
}

.details
{
    display: flex;
    
    align-items: center;
}

.title_bar
{
    width: 95%;
    padding: 1rem;
    background-color: #517da2;
    margin: auto;
    margin-top: 0.3rem;
    color: white;
    border-radius: 0.5rem;
}
.footer
{

    background-color: cadetblue;
    padding: 1rem;
    bottom: 0px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.user{
    padding: 1rem;
    background-color:cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: large;
}

.main_content{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    background-color: #eaeaea;
}

.display_chats
{
    display: flex;
    flex-direction: column;
}
.sendText
{
    width: 100%;
    resize: none;
}
.send_text
{
    position: relative;
    display: none;
    
}

.success,.alert{
    display: none;
}
.messageBody{
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;

    border-radius: 1.1rem;
    display: grid;
    grid-template-rows: 0.3fr 1fr;
}


.each_message{
    overflow: scroll;
}

.closebtn {
margin-left: 15px;
color: white;
font-weight: bold;
float: right;
font-size: 22px;
line-height: 20px;
cursor: pointer;
transition: 0.3s;
}

.modal{
    
    background-color: white;
    height: 30vh;
    width: 40%;
    position: absolute;
    top:30vh;
    left:35%;
    display: flex;
    flex-direction: column;
    display: none;
}

.close_button{
    margin-right: 0px;
}

.modal_confirm{
    width: max-content;
    padding: 0.3rem;
}
.txt{

    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    height: 7vh;
}

.close_button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.close_button div{
    background: transparent;
    border: 1px solid white;
    cursor: pointer;
}

.add_friend{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    position: relative;
    top:10%;
}

.add_friends{
    height: 10vh;
    width: 5%;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    bottom: 2rem;
    right:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:3rem;
    color: green;
    cursor: pointer;
}




.closebtn:hover {
    color: black;
}